@import url(https://fonts.googleapis.com/css?family=Roboto:300);
* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to left, #2c3e50, #536dc8);
  height: 100vh;
  font-smoothing: antialiased;
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-80px, -50%) rotate(-10deg);
            transform: translate(-80px, -50%) rotate(-10deg);
  }
  100% {
    -webkit-transform: translate(130px, -50%) rotate(360deg);
            transform: translate(130px, -50%) rotate(360deg);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-80px, -50%) rotate(-10deg);
            transform: translate(-80px, -50%) rotate(-10deg);
  }
  100% {
    -webkit-transform: translate(130px, -50%) rotate(360deg);
            transform: translate(130px, -50%) rotate(360deg);
  }
}
@-webkit-keyframes roll-back {
  0% {
    -webkit-transform: translate(130px, -50%) rotate(360deg);
            transform: translate(130px, -50%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes roll-back {
  0% {
    -webkit-transform: translate(130px, -50%) rotate(360deg);
            transform: translate(130px, -50%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}
@-webkit-keyframes expand {
  0% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
  50% {
    opacity: 1;
    width: 80px;
    height: 80px;
  }
  100% {
    width: 400px;
    height: 80px;
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
  50% {
    opacity: 1;
    width: 80px;
    height: 80px;
  }
  100% {
    width: 400px;
    height: 80px;
    opacity: 1;
  }
}
@-webkit-keyframes collapse {
  0% {
    width: 400px;
    height: 80px;
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 80px;
    height: 80px;
  }
  100% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}
@keyframes collapse {
  0% {
    width: 400px;
    height: 80px;
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 80px;
    height: 80px;
  }
  100% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}
.search-form {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 80px;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.search-form .search-input {
  border: 0;
  padding: 0 20px;
  width: 0;
  height: 0;
  border-radius: 50px;
  background-color: #2c3e50;
  font-size: 1.6em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.animate .search-form .search-input {
  -webkit-animation: collapse 0.3s 0.4s both ease-in;
          animation: collapse 0.3s 0.4s both ease-in;
}
.focus .search-form .search-input {
  -webkit-animation: expand 0.3s both ease-in;
          animation: expand 0.3s both ease-in;
}
.search-form .search-input::-webkit-input-placeholder {
  color: #fff;
}
.search-form .search-input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.search-form .search-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.search-form .search-input:-ms-input-placeholder {
  color: #fff;
}
.search-form .search-input:focus {
  outline: none;
}
.search-form .search-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: #77D7B9;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.animate .search-form .search-button {
  -webkit-animation: roll-back 0.2s both ease-in;
          animation: roll-back 0.2s both ease-in;
}
.focus .search-form .search-button {
  -webkit-animation: roll 0.4s 0.9s both ease-in;
          animation: roll 0.4s 0.9s both ease-in;
}
.search-form .search-button:focus {
  outline: none;
}
.search-form .search-button span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid #fff;
  display: block;
  position: absolute;
  top: 13px;
  left: 14px;
}
.search-form .search-button span:after {
  content: '';
  width: 4px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12px;
  left: 18px;
}

.link-response {
  font-family: 'Roboto', sans-serif; color: white;
  font-size: 16px;
  margin-top: 2cm;
}

.application-name {
  font-family: 'Roboto', sans-serif; color: white;
  font-size: 24px;
}